{% extends "core/base.html" %}

{% block title %}Portafolio{% endblock title %}

{% block background %}{% load static %}{% static "core/img/portfolio-bg.jpg" %}{% endblock background %}

{% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Currículo</span>
{% endblock headers %}

{% block content %}
    {% for eproject in  projects %}
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{eproject.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{eproject.title}}</h2>   
                <p>{{eproject.description}}</p>
                {% comment %} <p><a href="http://google.com">Más información</a></p> {% endcomment %}
            </div>
        </div>
    {% endfor %}
        
{% endblock content %}
